body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Arial, sans-serif;
    font-style: italic;
    text-align: center;
    padding: 20px;
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

nav {
    background-color: lightgray;
    color: black;
    padding: 10px 0;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: gray;
    color: black;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid black;
}

th {
    background-color: black;
    color: white;
    font-weight: bold;
}

tr {
    background-color: lightgray;
}

tr:hover {
    background-color: darkgray;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0066cc;
    text-decoration: underline;
}

footer {
    text-align: center;
    color: black;
    font-size: 12px;
    margin-top: 20px;
}
button {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.signup-form {
    max-width: 400px;
    margin-top: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.signup-form h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.signup-form form {
    display: flex;
    flex-direction: column;
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.signup-form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}